/venv
/env
/.idea
.env
__pycache__/
*.pyc
/data
/logs
/build
config/airflow.cfg
*.tfvars
*.tfstate
*.tfstate.*
.terraform/
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl
priv/
.pytest_cache
*.pytest_cache
target/
dbt_packages/
logs/

